<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="Bootstrap.php" colors="true">
    <testsuites>
        
        <testsuite name="application-testes">
            <directory>./module/Application/test</directory>
        </testsuite>
        <testsuite name="forum-testes">
            <directory>./module/Forum/test</directory>
        </testsuite> 
    </testsuites>    
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">module/Application/src</directory>
            <directory suffix=".php">module/Forum/src</directory>
        </whitelist>
        <blacklist>
            <directory suffix=".php">vendor</directory>
        </blacklist>
    </filter>
</phpunit>